---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my paper on my <a href="https://scholar.google.com/citations?hl=en&user=UwDInqkAAAAJ">Google Scholar</a>.</div>
{% endif %}

<ol>
      <li>
        <strong> Z. Su</strong>
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Existence and Uniqueness Theorem of Continuous and Monotone Bayesian Nash Equilibrium and Stability Analysis, 2025, 
        <a ahref="https://arxiv.org/abs/2511.15457">arxiv</a>. Under review by <strong><em>Mathematics of Operations Research</em></strong>.
    </li>
  
      <li>
        <strong>  Z. Su </strong> 
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Continuous and Monotone Bayesian Nash Equilibrium with Incomplete Information about Player's Risk Preferences, 2025, <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5118754">SSRN</a>.
        Under review by <strong><em>SIAM Journal on Optimization</em></strong>.
    </li>
    <li>
        <a href="https://scholar.google.com/citations?user=ohVx2r4AAAAJ&hl=en"> J. Liu</a>, 
        <strong>  Z. Su </strong> 
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Bayesian Distributionally Robust Nash Equilibrium and Its Application. <strong><em>Pacific Journal of Optimization: Special issue dedicated to <a 
        href="https://sites.math.washington.edu/~rtr/mypage.html"> Prof. R. Tyrrell Rockafellar</a> on the occasion of his 90th birthday</em></strong>, 21(4): 571-599,  2025, <a 
        href="http://www.yokohamapublishers.jp/online-p/PJO/Open/vol21/pjov21n4p571.pdf">PDF</a>.
    </li>

</ol>



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
