---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my paper on my Google Scholar.</div>
{% endif %}

<ol>
    <li>
        <strong>J. Liu</strong>, 
         and 
        , 
        Bayesian-Nash-Bertrand Equilibrium in Price Competition under Multinomial Logit Demand, 
        . 
        To appear in the <strong><em>European Journal of Operational Research</em></strong>.
    </li>
    <li>
        <strong>J. Liu</strong>, 
         and 
        , 
        Bayesian Distributionally Robust Nash Equilibrium and Its Application, 
        . 
        To appear in <strong><em>Pacific Journal of Optimization</em></strong>: Special issue dedicated to Prof. Terry Rockafellar on the occasion of his 90th birthday.
    </li>
    <li>
        <strong>J. Liu</strong> and 
        , 
        Robust Mean-Square-Variance Profit Nash-Bertrand Equilibrium in Price Competition under Multinomial Logit Demand, 
        . 
        Submitted to <strong><em>Journal of Mathematical Economics</em></strong>.
    </li>
    <li>
        <strong>J. Liu</strong> and 
        , 
        Generalized Bayesian Nash Equilibrium in Supermodular Games, 2025. 
        Working paper.
    </li>
</ol>



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



