---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my paper on my <a href="https://scholar.google.com/citations?hl=en&user=UwDInqkAAAAJ">Google Scholar</a>.</div>
{% endif %}

<ol>
      <li>
        <strong>  Z. Su </strong> 
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Continuous and Monotone Bayesian Nash Equilibrium with Incomplete Information about Player's Risk Preferences, 2025, <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=5118754">SSRN</a>.
        Under review by <strong><em>Journal of Economic Theory</em></strong>.
    </li>
    <li>
        <a href="https://scholar.google.com/citations?user=ohVx2r4AAAAJ&hl=en"> J. Liu  </a>, 
        <strong>  Z. Su </strong> 
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Bayesian Distributionally Robust Nash Equilibrium and Its Application, 2024, <a href="https://arxiv.org/abs/2410.20364">arxiv</a>.
        To appear in <strong><em>Pacific Journal of Optimization</em></strong>: Special issue dedicated to Prof. Ralph Tyrrell Rockafellar on the occasion of his 90th birthday.
    </li>
      <li>
        <strong>  Z. Su </strong>, 
        <a href="https://scholar.google.com/citations?user=ohVx2r4AAAAJ&hl=en"> J. Liu  </a>, 
        and <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">H. Xu</a>,
        Monotone Generalized Bayesian Nash Equilibrium, 2025, Working paper.
    </li>
</ol>



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
