---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{%
<b>Teaching Assistant, The Chinese University of Hong Kong </b> 

<p> ECLT 5930B - SEEM 5740B: Engineering Economics (Instructor: <a href="https://www1.se.cuhk.edu.hk/~zylong/">
  Prof. Daniel Zhuoyu Long</a>, <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">Prof. Huifu Xu</a>), Spring 2024, 2025 </p >

<p>SEEM 4670: Service Systems (Instructor: <a href="https://www.se.cuhk.edu.hk/people/academic-staff/dr-ho-sin-cheung/">Dr. Sincheung Ho</a>), Spring 2024 </p >

<p> ECLT 5920 - SEEM 5820:  Introduction to Financial Engineering (Instructor: <a href="https://sites.google.com/site/xuedonghepage/home">Prof. Xuedong He</a>), Fall 2023, 2024 </p >
  
<p>SEEM 3500: Quality Control and Management (Instructor: <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">Prof. Huifu Xu</a>), Spring 2023 </p >

<p>ENGG 2760: Probability for Engineers (Instructor: <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html">Prof. Huifu Xu</a>), Fall 2022, 2023, 2024 </p >

%}

{%include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}
