---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<b>Teaching Assistant, The Chinese University of Hong Kong </b> 
<p> ECLT 5930B - SEEM 5740B: Engineering Economics (Instructor: <a href="https://www.se.cuhk.edu.hk/people/academic-staff/prof-long-zhuoyu-daniel/">
  Prof. Dohyun Ahn </a>, <a href="https://www1.se.cuhk.edu.hk/~hfxu/index.html" > Prof. Huifu Xu </a>), Spring 2024, 2025 </p >
  
<p>SEEM 5350: Numerical Optimization, Fall 2021 / Spring 2024 </p >
  
<p>ENGG 2760: Probability for Engineers, Fall 2020, 2021, 2022, 2023 </p >

<p>SEEM 5390: Stochastic Optimization and Risk Management, Spring 2022

<p>SEEM 3500: Quality Control and Management, Spring 2021 / Spring2022 </p >



{%include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}
